body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    overflow: hidden;
    font-family: sans-serif;
    display: block;
    text-align: center;
}

body {
    background: #112233;
}

.image_screen {
     max-width: 100%;
     max-height: 95%;
     display: block;
     padding: 0px;
     border: 0px;
     margin-left: auto;
     margin-right: auto;
}

.image_div {
    height: 100%;
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

table {
    display: inline-block;
    table-layout: fixed;
    width: 100%;
    height: 5%;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

tbody {
    display: inline-block;
    width: 100%;
    height: 100%;
}

tr {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

td {
    display: inline-block;
    width: 20%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    overflow-wrap: break-word;
}

button {
    display: block;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #DDDDDD;
    background-color: #000000;
    outline: none;
}

.button_image {
    display: block;
    width: 100%;
    height: 100%;
}
